 
   <% if @bodies.exists? %>
   <table class="table table-stripped">
     <tr>
       <th>Name</th>
       <th>Body Number</th>
       <th>Cause of Death</th>
       <th>Date of Birth</th>
       <th>Date of Death</th>
       <th>Deceased prior Address</th>
       <th>Health History</th>
       <th>Date Created</th>
       
     </tr>
     <% @bodies.each do |body| %>
       <tr>
         <td><%= body.name %></td>
         <td><%= body.body_number %></td>
         <td><%= body.cause_of_death %></td>
         <td><%= body.date_of_birth %></td>
         <td><%= body.date_of_death %></td>
         <td><%= body.deceased_prior_address %></td>
         <td><%= body.health_history %></td>

         <td><%= body.created_at.to_time.strftime('%B %e at %l:%M %p') %></td>
         
       </tr>
     <% end %>
   </table>
   <%= will_paginate @Bodies %>
<% else %>
   <p>There are no bodies</p>
<% end %>  
